html{
    padding:0; 
    margin:0; 
    height:100%;
    
}
header {
    color: white;
    padding: 1rem;
}
body{
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 0rem;
    background-color: #009999;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding:0;
    
}

.homePic{
  background-image: url(../images/new8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;
}

.rightText{
    text-align: left;
    float: right;
    font-size: 26px;
    line-height: 30px;
    width: auto;
    height: 100%;
   
}

#aboutImg{
     
    
    
}
#main {
    transition: margin-left .5s;
}

h1{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 6px;
    padding: 0px;
    margin: 0px;
    
    
}

h2{
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color:#ff8533;
}

h3{
    font-weight: bold;
    /*font-family: 'Oswald', sans-serif;*/
     font-family: 'Raleway', sans-serif;
    font-size: 55px;
    text-align: left;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
    border-bottom: 4px solid #ff8533;
   
    
}

.newHead{
    position: absolute;
    right: 20px;
    top:80px;
    font-family: 'Oswald', sans-serif;
    font-size: 88px;
    text-align: right;

    
   
    
}

.newHeadTwo{
    position: absolute;
    right: 20px;
    top: 190px;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    text-align: right;
    letter-spacing: 1px;
   
    
    
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ff6600;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #009999;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

#headerMain {
  transition: margin-left .5s;
  padding: 100px;
}

.mainTitle{
    font-size: 8vw;
    color: white;
    float:right;
    letter-spacing: 3px;
    text-align: right;
}
.mainTwoTi{
   font-size: 6vw;
   font-family: 'Raleway', sans-serif; 
   color: #ff6600;
   clear: both;
   float:right;
   text-align: right;
}
@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.projects {
  margin-top: 45px;
  margin-left: 68px;
  margin-right: 68px;
  border: 1px solid ;
  float: left;
  display: inline-block;
  width: 400px;
}

.projects:hover {
  border: 2px solid #ff8533;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.projects img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

footer {
    color: white;
    text-align: center;
    clear: both;
    padding-top: 45px;
}

#mainFoot{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

@media only screen and (max-width: 520px) {
    .newHead{
        font-size: 15vw;
    }
    .newHeadTwo{
        font-size: 11vw;
    }
    h3{
        font-size: 8vw;
    }